################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OOPnDOP/.vs/OOPnDOP
/OOPnDOP/OOPnDOP/bin/Debug/net6.0
/OOPnDOP/OOPnDOP/obj/Debug/net6.0
/OOPnDOP/OOPnDOP/obj/Release/net6.0
